*{
    text-decoration: none;
  }
.navbar{
    background: skyblue;
    font-family: sans-serif;
    padding-right: 15px;
    padding-left: 15px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 35px;
    font-weight: 300;
    color: rgb(15, 15, 206);
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}
button{
    background-color: black;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}
button a{
    color: white;
    font-weight: bold;
    font-size: 15px;
}
ul{
    list-style: none;
    background: lightblue;
}
ul li{
    display: inline-block;
    position:relative;
}
ul li a{
    display: block;
    padding: 20px 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}
ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    width: 100%;
    background: lightblue;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover{
    background: rgb(64, 139, 232);
}
ul li:hover ul.dropdown{
    display: block;
}